PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/project-service
ACCESS_TOKEN_SECRET=use_the_same_access_secret_as_auth_service
AI_ORCHESTRATOR_URL=http://localhost:6000
INTERNAL_SERVICE_TOKEN=use_the_same_random_value_in_ai_orchestrator_service
